
	<table class="table">
		<tbody>
			<tr>
				<td>Diagonal</td>
				<td>{{ product.diagonal }}</td>
			</tr>
			<tr>
				<td>Tip Displaya</td>
				<td>{{ product.display_type }}</td>
			</tr>
			<tr>
				<td>Razreshena ekrana</td>
				<td>{{ product.resolution }}</td>
			</tr>
			<tr>
				<td>Zaryad acumlyatora</td>
				<td>{{ product.accum_volume }}</td>
			</tr>
			<tr>
				<td>Operativnaya pamyot</td>
				<td>{{ product.ram }}</td>
			</tr>
			<tr>
				<td>CD karti </td>
				<td>{{ product.sd }}</td>
			</tr>
			<tr>
				<td>Maksimalnaya CD karti </td>
				<td>{{ product.sd_volume_max }}</td>
			</tr>
			<tr>
				<td>Glavniya Camera </td>
				<td>{{ product.main_cam_mp }}</td>
			</tr>
			<tr>
				<td>Frontal camera </td>
				<td>{{ product.frontal_cam_mp }}</td>
			</tr>
			
		</tbody>
	</table>
